.home {
  background: #110f0f;
  position: relative;
}

.home-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75vh;
}

.home-left {
  background: #b8b1b1;
  height: 75vh;
  width: 50%;
  padding-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../images/newcastle-drone.jpg");
  background-size: cover;
  background-blend-mode: multiply;
}

.home-left p {
  font-size: 4rem;
  max-width: 500px;
  font-family: "Teko", sans-serif;
  margin-right: 1em;
}

.home-right {
  background: #110f0f;
  width: 50%;
  text-align: center;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 960px) {
  .home-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: scroll;
  }
  .home-wrapper .home-right,
  .home-wrapper .home-left {
    width: 100%;
  }
  .home-wrapper .home-left {
    height: 45vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 2em;
    text-align: center;
  }
  .home-wrapper .home-left p {
    font-size: 3rem;
    padding: 0;
  }
  .home-wrapper .home-right {
    height: 30vh;
  }
  .home-wrapper .home-right a {
    font-size: 4rem;
  }
}

@media (max-width: 550px) {
  .home-wrapper .home-left p {
    font-size: 2rem;
  }
  .home-wrapper .home-right a {
    font-size: 3rem;
  }
}

.work-wrapper {
  min-height: 75vh;
}

.work-wrapper h2 {
  padding-top: 1em;
  font-size: 4rem;
  border-bottom: 2px solid white;
  width: 20rem;
  margin: 0 auto;
  text-align: center;
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 450px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 450px));
  -webkit-column-gap: 2em;
          column-gap: 2em;
  row-gap: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10%;
  margin-top: 6em;
}

.projects .project {
  width: 100%;
  height: 400px;
  position: relative;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background-size: cover;
  background-repeat: no-repeat;
}

.projects .project:hover .content {
  opacity: 0.9;
  border-radius: 4em;
}

.projects .project:hover {
  border-radius: 4em;
}

.projects .project .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  color: #0a88d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.projects .project-stemquip {
  background-image: url("../images/project-stemquip.png");
}

.projects .project-vhep {
  background-image: url("../images/vhep.png");
  background-position: center;
}

.about-wrapper {
  min-height: 75vh;
}

section {
  padding: 5% 10%;
}

.services-wrapper {
  padding: 2em 0 4em 0;
  background: gray;
  background-image: url("../images/coding.jpg");
  background-blend-mode: multiply;
  background-position: center;
  text-align: center;
}

.services-wrapper h2 {
  font-size: 4rem;
  border-bottom: 2px solid white;
  width: 20rem;
  margin: 0 auto;
  text-align: center;
}

.services-wrapper .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
  padding: 2em 0;
}

.services-wrapper .services .service {
  max-width: 300px;
}

.services-wrapper .services .service h3 {
  font-size: 2rem;
}

.services-wrapper .services .service p {
  font-size: 1.5rem;
}

.about-me {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2em;
          column-gap: 2em;
      grid-template-areas: "title img" "subtitle img" "body img";
}

.about-me .about-me-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  font-size: 3rem;
}

.about-me .about-me-subtitle {
  font-size: 2rem;
  background: #0a88d1;
  padding: 0.25em 1em;
  margin-left: -1em;
  width: calc(100% + 2em);
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: subtitle;
  grid-column: 1 / -1;
  position: relative;
  margin-bottom: 1em;
  z-index: 1;
}

.about-me .about-me-body {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: body;
}

.about-me .about-me-body p {
  font-size: 1.5rem;
}

.about-me img {
  width: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: img;
}

@media (max-width: 670px) {
  .about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
}

.cta {
  font-size: 8.5rem;
  font-family: "Teko", sans-serif;
  letter-spacing: 3px;
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 300px;
  margin: 0 auto;
}

.cta:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cta::after {
  content: "";
  display: block;
  width: 3px;
  height: 4px;
  position: absolute;
  top: 40%;
  left: 0%;
  background: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
}

.cta:hover::after {
  width: 100%;
  opacity: 1;
}

.work-cta {
  color: #0a88d1;
}

.about-cta::after {
  background: #0a88d1;
}

.about-cta,
.work-cta {
  opacity: 0;
}

@media (max-width: 960px) {
  .about-cta,
  .work-cta {
    width: 30%;
  }
}

.my-work {
  font-size: 2rem;
  background: #0a88d1;
  padding: 0.3em 1em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: inline-block;
}

.my-work:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: black;
}

.width {
  height: 50px;
  width: 50px;
  color: #f1e6e6;
  position: absolute;
  bottom: 100px;
  right: 100px;
  font-size: 1.5rem;
  z-index: 10000;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Teko", sans-serif;
  font-size: 62.5%;
  line-height: 1.4;
  color: white;
  height: 100vh;
}

h1 {
  font-size: 2.5rem;
  font-family: "Ultra", sans-serif;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

nav {
  padding: 0 10%;
  background: #080808;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo h1 {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav .logo span {
  color: #0a88d1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav .logo:hover h1 {
  color: #0a88d1;
}

nav .logo:hover span {
  color: white;
}

footer {
  background: #080808;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4em;
}

footer p {
  font-size: 1.5rem;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}

footer ul li {
  margin: 0 1em;
}

footer ul li a {
  font-size: 1.5rem;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

footer ul li a:hover {
  color: #0a88d1;
}

.loading-screen {
  position: relative;
  background-color: #0a88d1;
  width: 0%;
  height: 100%;
}

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}
/*# sourceMappingURL=style.css.map */